@inherits LayoutComponentBase

<div class="board-layout game-app">
    <header class="board-layout-header">
        <span class="game-title-small">Não Comemore Antes do Fim</span>
        <a class="board-layout-exit" href="/">Sair</a>
    </header>
    <main class="board-layout-main">
        @Body
    </main>
</div>
