@inherits LayoutComponentBase
<div class="page game-app">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="game-title-small">Não Comemore Antes do Fim</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
